@import (reference) './Theme/index.less';

.top-of-page {
  padding-top: @header_desktop_size;
}

.box {
  border: 1px solid red;
}

.underline {
  text-decoration: underline;
}

.center-text {
  text-align: center;
}
