/*Top section styles*/
.split-div.top-section{
    height: 50vh;
}

.top-content{
    padding: 5% 0;
}

.top-content h2{
    font-size: 3rem;
}

.top-content p{
    font-size: 2rem;
}

.trailer-content video{
    /*border: 1px solid red;*/
    width: 80%;
    margin: 5%;
}

/*Body section styles*/
.split-div.body-section {
    height: 40vh;
}

.about-picture{
    width: 65%;
}

.body-section .text-content{
    width: 40%;
    display:flex;
    flex-direction: column;
    padding: 5%;
}

.body-section .split-content h2 {
    text-decoration: underline;
    font-size: 2.5rem;
}

.body-section .split-content p {
    font-size: 1.5rem;
}