@import (reference) '../Theme/index.less';

.faq-container {
  padding-bottom: @header_desktop_size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    padding: 2% 0;
    color: black;
    font-family: Calibri, @text_font;
    font-size: 3.5rem;
    font-weight: bold;
  }

  .question-text {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 1.25rem;

    .arrow-icon {
      font-size: 1.25rem;
    }
  }

  .answer-text {
    font-size: 1.15rem;
    overflow: hidden;
    transition: max-height 500ms;
    div {
      padding-top: 2%;
    }
  }
}

.faq-item {
  background-color: white;
  border-radius: 5px;
  padding: 2% 3%;
  width: 80%;
  margin-top: 1rem;
}
