@h1-size: 6rem;

.landing-main {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  img {
    width: 80%;
  }

  h1 {
    font-size: @h1-size;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.2rem;
  }

  p {
    padding: 0 15%;
    font-size: 2rem;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
  }
}

.image-container {
  height: 100vh;
  background-image: url('../../img/LandingBackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
