@import (reference) '../Theme/index.less';

@media (max-width: @s) {
  .landing-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
    h1 {
      font-size: 3rem;
    }

    img {
      width: 100vw;
    }
    p {
      font-size: 1.25rem;
      padding: 0 8%;
      margin-top: 4%;
      margin-bottom: 8%;
    }

    button {
      background-color: #c00000;
      border: 0px;
      width: auto;
      display: flex;
      justify-content: center;
      margin-top: 2%;
      margin-bottom: 5%;
      font-size: 2.5rem;
      font-weight: 700;
      padding: 2% 2%;
    }
  }
}
